<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col one-half">
      <h2 class="footer-heading">Contacts Perhaps?</h2>
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            <li> <p>+351 92 716 56 25</p> </li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col one-half">
        <marquee behavior="scroll" direction="right" scrollamount="8"><p>“ROSES ARE RED, VIOLETS ARE BLUE I'M A DESIGNER CAN I WORK FOR YOU?"</p></marquee>
      </div>
    </div>

  </div>

</footer>
