---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
    
        <section class="leftcolumn">
            <article class="shorttext">
                <p1> 21 years old <br> Male <br> Junior Ux Designer <br> @ Wingman <br>Lisbon</p1>   
                <p>/ <br> I studied for 5602 days, with vacation breaks of roughly 4 to 5 months per year. <br> I wrote, drew, painted, cried, laughed, slept, did not sleep, did all my subjects in school, did not sleep again, missed classes, arrived early, arrived late, filmed, cooked, ate, dated, worked and finnaly graduated. <br> My favorite part was eating.</p>
                <p>Now I'm trying to do all of this, but making some money at the same time. Explore and check some of my work</p>
                <p> Thank You :)</p>
            </article>
        </section>
        <section class="rightcolumn">
             {%- if site.posts.size > 0 -%}
                <h2 class="post-list-heading">{{ page.list_title | default: "Some work" }}</h2>
                <ul class="post-list">
                {% for post in site.posts %}
                  <li>
                    <h3>
                      <a class="post-link" href="{{ post.url | relative_url }}">
                        {{ post.title | escape }}
                      </a>
                    </h3>
                  </li>
                {% endfor %}
                </ul>
              {%- endif -%}
        </section>

</div>
